body{
    background-image: url("TicOpenLogo.jpg");
    background-repeat: no-repeat;
    border-image: auto;
    font-size: 30;
text-align: right;
    color: floralwhite;
    background-color: black;
}

a:link {
    color: antiquewhite;
}
a:hover {
    color: navajowhite;
}
a:active {
    color: navajowhite;
}
a:visited {
    color: lightgray
}